{% load static %}
<html>
  <head>
    <title>Salesforce Callback</title>
  </head>
  <body>
    Lightning Componenet Page:
    <div id="app">

    </div>
    
  </body>
  <script type="text/javascript" src="{% static "js/lightning.out.js" %}"> </script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js"></script>
  <script type="text/javascript">
    var _lightningReady = false;
    function setupLightning(callback) 
    {
	    var appName = "c:HelloBengaluru";
	 
      if (_lightningReady) {
        if (typeof callback === "function") {
          callback();
        }
      } else {
          // Transform the URL for Lightning
          var url = Cookies.get("instance_url");
        url = url.replace("my.salesforce", "lightning.force");
          $Lightning.use(appName, 
              function() {
            _lightningReady = true;
            document.getElementById("app").style.display = "";
            if (typeof callback === "function") {
              callback();
            }
              }, url, Cookies.get("access_token"));
      }
    }
  function createChatterFeed() 
  {
      setupLightning(function() {
      $Lightning.createComponent("c:HelloWorld", {}, "app"); 
      });
  }

  createChatterFeed();
  </script>
</html>